### Android ###

# Arquivos de build
/build/
/app/build/
/gradle/
/local.properties

# Arquivos do Android Studio
/.idea/
/*.iml

# Arquivos de keystore
*.jks
*.keystore

# Gradle Wrapper
/gradle/wrapper/gradle-wrapper.jar
/gradle/wrapper/gradle-wrapper.properties

# Arquivos de log
*.log

# Arquivos do NDK
/obj/

# Capturas do Android Studio
/captures/

# Arquivos temporários
*.tmp
*.temp

# Arquivos do MacOS
.DS_Store

### Kotlin ###

# Arquivos de bytecode
*.class

# Arquivos gerados
/out/

# Arquivos de backup
*.kt~
